@model Day3Model_Validations.Models.Student
@{
    ViewBag.Title = "TemplatedHelper";
}

<h2>TemplatedHelper</h2>

@using (Html.BeginForm())
{
<table border="1" cellpadding="7" cellspacing="5">
    <tr>
        <td>@Html.DisplayName("RollNo")</td>
        <td>@Html.Editor("RollNo")</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.RollNo)</td>
        <td>@Html.EditorFor(m => m.RollNo)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.EditorFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Address)</td>
        <td>@Html.EditorFor(m => m.Address)</td>
    </tr>
    <tr>
        <td><input type="submit" /></td>
    </tr>
</table>
}